---
import "@/styles/globals.css";
import MapMultiPin from "@/components/custom/MapMultiPin";
---

<html lang="id">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Peta Multi Pin</title>
  </head>
  <body>
    <div class="container p-4 mx-auto">
      <h1 class="mb-4 text-2xl font-bold">Peta Multi Pin</h1>
      <MapMultiPin client:load />
    </div>
  </body>
</html>
