---
//import Layout from "../layouts/Layout.astro";
//import Card from "../components/Card.astro";
import { Button } from "@/components/ui/button";



---

<h1>Welcome to <span class="text-gradient">Duniaku</span></h1>
<p class="instructions">
  To get started, open the directory <code>src/pages</code> in your project.<a
    href="/">Home Page</a
  ><br />
  <strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message above.
</p>

