---
import { Button } from "@/components/ui/button";
import { Input } from "@/components/ui/input";
import GooglePlay from "@/layouts/GooglePlay.astro";
import AppleStore from "@/layouts/AppleStore.astro";
import Qrcode from "@/layouts/qrcode.astro";
import HeaderClientScript2 from "@/components/custom/HeaderClientScript";
---

<footer class="py-8 bg-gray-200 dark:bg-gray-800">
  <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
    <div class="grid grid-cols-1 gap-8 justify-items-center md:grid-cols-4">
      <div class="space-y-1">
        <div class="flex justify-center">
          <a href="/" class="block">
            <img
              id="themeLogo"
              class="w-48 h-auto"
              alt="Logo"
              src="/images/white-logo.png"
            />
          </a>
        </div>
        <div class="flex flex-col space-y-1">
          <div class="flex space-x-4">
            <a
              href="#"
              class="text-gray-500 hover:text-gray-900 dark:hover:text-white"
            >
              <GooglePlay class="w-auto h-10" />
              <span class="sr-only">Google Play Store</span>
            </a>

            <a
              href="#"
              class="text-gray-500 hover:text-gray-900 dark:hover:text-white"
            >
              <AppleStore class="w-auto h-10" />
              <span class="sr-only">Apple App Store</span>
            </a>
          </div>
          <div class="flex justify-center">
            <div>
              <a
                href="#"
                class="text-gray-700 dark:text-gray-200 hover:text-gray-300 dark:hover:text-gray-500"
              >
                <Qrcode />
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="space-y-4">
        <h2
          class="text-sm font-semibold text-gray-900 uppercase dark:text-white"
        >
          Resources
        </h2>
        <ul class="space-y-2 text-sm text-gray-500 dark:text-gray-400">
          <li><a href="#" class="hover:underline">Home</a></li>
          <li><a href="#" class="hover:underline">About</a></li>
          <li><a href="#" class="hover:underline">Services</a></li>
          <li><a href="#" class="hover:underline">Contact</a></li>
        </ul>
      </div>

      <div class="space-y-4">
        <h2
          class="text-sm font-semibold text-gray-900 uppercase dark:text-white"
        >
          Follow us
        </h2>
        <ul class="space-y-2 text-sm text-gray-500 dark:text-gray-400">
          <li><a href="#" class="hover:underline">Facebook</a></li>
          <li><a href="#" class="hover:underline">Instagram</a></li>
          <li><a href="#" class="hover:underline">Twitter</a></li>
        </ul>
      </div>

      <div class="space-y-4">
        <h2
          class="text-sm font-semibold text-gray-900 uppercase dark:text-white"
        >
          Contact
        </h2>
        <ul class="space-y-2 text-sm text-gray-500 dark:text-gray-400">
          <li>123 Main St, City, Country</li>
          <li>
            <a href="mailto:info@example.com" class="hover:underline"
              >info@example.com</a
            >
          </li>
          <li>
            <a href="https://www.example.com" class="hover:underline"
              >www.example.com</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<HeaderClientScript2 client:load />
