---
import { Button } from "@/components/ui/button";
import { Input } from "@/components/ui/input";
import GooglePlay from "@/layouts/GooglePlay.astro";
import AppleStore from "@/layouts/AppleStore.astro";
import Qrcode from "@/layouts/qrcode.astro";
import HeaderClientScript2 from "@/components/custom/HeaderClientScript";
import { Icon } from "astro-icon/components";
---

<footer
  class="px-4 py-8 text-gray-700 bg-gradient-to-br from-gray-200 to-gray-400 dark:from-gray-700 dark:to-gray-800 dark:text-gray-300 md:px-8"
>
  <div class="container mx-auto">
    <div class="grid grid-cols-1 gap-8 md:grid-cols-4">
      <div class="col-span-1">
        <div class="flex items-center mb-4">
          <Icon name="mdi:home" class="w-6 h-6 mr-2" />
          <h2 class="text-xl font-bold">Bosqu Properti</h2>
        </div>
        <p class="mb-4 text-sm">
          Bosqu adalah situs teknologi jual beli properti dan real estate
          ternama di Indonesia sejak 2007, dan kini hadir dengan dukungan
          developer serta agen profesional.
        </p>
        <div class="mb-4">
          <h3 class="mb-2 font-semibold">Download Aplikasi Bosqu</h3>
          <div class="flex space-x-2">
            <div class="flex flex-col">
              <div class="flex mb-2 space-x-2">
                <GooglePlay />
                <AppleStore />
              </div>
              <Qrcode />
            </div>
          </div>
        </div>
      </div>

      <div>
        <h3 class="mb-4 font-semibold">Perusahaan</h3>
        <ul class="space-y-2 text-sm">
          <li><a href="#" class="hover:underline">Tentang Kami</a></li>
          <li><a href="#" class="hover:underline">Produk & Layanan</a></li>
          <li><a href="#" class="hover:underline">Partner</a></li>
          <li><a href="#" class="hover:underline">Karir</a></li>
          <li><a href="#" class="hover:underline">Pressroom</a></li>
        </ul>

        <h3 class="mt-6 mb-4 font-semibold">Dukungan</h3>
        <ul class="space-y-2 text-sm">
          <li>
            <a href="/privacy" class="hover:underline">Kebijakan Privasi</a>
          </li>
          <li>
            <a href="/terms" class="hover:underline">Syarat Penggunaan</a>
          </li>
          <li>
            <a href="/terms-agent" class="hover:underline"
              >Syarat Penggunaan Agen</a
            >
          </li>
        </ul>
      </div>

      <div>
        <h3 class="mb-4 font-semibold">Layanan</h3>
        <ul class="space-y-2 text-sm">
          <li><a href="#" class="hover:underline">Iklankan Properti</a></li>
          <li><a href="#" class="hover:underline">KPR</a></li>
        </ul>

        <h3 class="mt-6 mb-4 font-semibold">Dukungan</h3>
        <ul class="space-y-2 text-sm">
          <li>
            <a href="/privacy" class="hover:underline">Kebijakan Privasi</a>
          </li>
          <li>
            <a href="/terms" class="hover:underline">Syarat Penggunaan</a>
          </li>
          <li>
            <a href="#" class="hover:underline">Syarat Penggunaan Agen</a>
          </li>
        </ul>
      </div>

      <div>
        <h3 class="mb-4 font-semibold">Alamat Perusahaan</h3>
        <p class="text-sm">
          PT Bosqu Indonesia <br />
          Jl. Boulevard Utara Podomoro Park Bandung, Ruko Neo Plaza Blok F no.06
          <br />
          Jakarta, Indonesia <br />

          Email: bosquepropertyofficial@gmail.com
        </p>
      </div>
    </div>

    <div class="pt-8 mt-8 border-t border-gray-700 dark:border-gray-300">
      <div class="flex flex-col justify-between md:flex-row">
        <div class="mb-4 md:mb-0">
          <p class="text-sm">
            Copyright @2024 Bosqu Properti (PT Bosqu Indonesia)
          </p>
        </div>
        <div class="flex space-x-4">
          <a
            href="#"
            class="text-gray-700 dark:text-gray-300 hover:text-gray-500 dark:hover:text-gray-500"
            ><Icon name="mdi:facebook" class="w-6 h-6" /></a
          >
          <a
            href="#"
            class="text-gray-700 dark:text-gray-300 hover:text-gray-500 dark:hover:text-gray-500"
            ><Icon name="mdi:twitter" class="w-6 h-6" /></a
          >
          <a
            href="#"
            class="text-gray-700 dark:text-gray-300 hover:text-gray-500 dark:hover:text-gray-500"
            ><Icon name="mdi:instagram" class="w-6 h-6" /></a
          >
          <a
            href="#"
            class="text-gray-700 dark:text-gray-300 hover:text-gray-500 dark:hover:text-gray-500"
            ><Icon name="mdi:youtube" class="w-6 h-6" /></a
          >
          <a
            href="#"
            class="text-gray-700 dark:text-gray-300 hover:text-gray-500 dark:hover:text-gray-500"
            ><Icon name="mdi:linkedin" class="w-6 h-6" /></a
          >
          <!-- <a href="#" class="text-white hover:text-gray-300"
            ><Icon name="mdi:tiktok" class="w-6 h-6" /></a
          > -->
        </div>
      </div>
    </div>
  </div>
</footer>

<HeaderClientScript2 client:load />
