---
import { Button } from "@/components/ui/button";
import { ModeToggle } from "@/components/custom/ModeToggle";
import AvatarComponent from "@/components/custom/AvatarComponent";
import { MenuItems, Astronav } from "astro-navbar";
import Dropdown from "@/components/dropdown.astro";
import LoginButtons from "@/components/custom/LoginButtons";
import HeaderClientScript from "@/components/custom/HeaderClientScript";
import HeaderMenu from "@/components/custom/HeaderMenu";

import { Navbar, Nav } from "rsuite";
import "rsuite/dist/rsuite-no-reset.min.css";

type MenuItem = {
  title?: string;
  path?: string;
  badge?: boolean;
};

const menuitems: MenuItem[] = [
  {
    title: "Home",
    path: "/",
  },
  {
    title: "Type Properti",
    path: "#",
    // children: [
    //   { title: "Apartement", path: "#" },
    //   { title: "Kavling", path: "#" },
    //   { title: "Gudang", path: "#" },
    //   { title: "Office", path: "# " },
    // ],
  },
  { title: "Layanan", path: "/layanan" },
  { title: "About", path: "/about" },
  { title: "Blog", path: "/blog" },
  { title: "Contact", badge: true, path: "/contact" },
  {
    // title: "PROMO MERDEKA",
    // badge: true,
    // path: "#",
  },
];
---

<header class="w-full bg-gray-100 shadow-md dark:bg-gray-900">
  <div class="px-4 mx-auto container-lg">
    <div class="flex items-center justify-between h-16">
      {/* Logo and Welcome Message */}
      <div class="flex items-center ml-10 space-x-4">
        <div class="flex-shrink-0">
          <a href="/">
            <img
              id="themeLogo"
              class="w-auto h-10"
              alt="Logo"
              src="/images/logo.svg"
            />
          </a>
        </div>
      </div>
      {/* Desktop Menu */}
      <div class="hidden lg:flex">
        <div class="flex items-center space-x-4 ml-80">
          <Astronav>
            <MenuItems class="hidden w-full mt-2 lg:w-auto lg:flex lg:mt-0">
              <ul class="flex flex-col lg:flex-row lg:gap-3">
                {
                  menuitems.map((item) => (
                    <li>
                      <a
                        href={item.path}
                        class="px-3 py-2 text-sm font-medium text-gray-800 rounded-md hover:bg-gray-200 dark:text-gray-300 dark:hover:bg-gray-700"
                      >
                        <span>{item.title}</span>
                        {item.badge && (
                          <span class="ml-1 px-2 py-0.5 text-[10px] animate-pulse font-semibold uppercase text-white bg-indigo-600 rounded-full">
                            New
                          </span>
                        )}
                      </a>
                    </li>
                  ))
                }
              </ul>
            </MenuItems>
          </Astronav>
        </div>
      </div>
      {/* Right side items */}
      <div class="items-center hidden mr-10 space-x-8 lg:flex">
        <!-- <AvatarComponent client:load /> -->
        <LoginButtons client:load />

        <div
          id="welcomeMessage"
          class="text-sm font-medium dark:text-gray-300 animate-pulse"
        >
        </div>
        <div class="items-end hidden space-x-8 md:flex">
          <ModeToggle client:load />
        </div>
      </div>
      {/* Mobile menu */}
      <HeaderMenu client:load menuitems={menuitems as any} />
    </div>
  </div>
</header>

{/* Running Text */}

<!-- <div class="w-screen overflow-hidden bg-gray-300 dark:bg-gray-800">
  <div class="container mx-auto">
    <div
      class="py-2 text-sm font-medium text-gray-800 dark:text-gray-300 whitespace-nowrap"
    >
      <span class="inline-block animate-marquee"
        >Welcome to our website! We're very very glad you're here.</span
      >
    </div>
  </div>
</div> -->
<style is:global>
  @keyframes marquee {
    0% {
      transform: translateX(75%);
    }
    100% {
      transform: translateX(20%);
    }
  }

  @keyframes vertical-move {
    0% {
      transform: translateY(100%); /* Mulai dari bawah layar */
    }
    100% {
      transform: translateY(-100%); /* Berakhir di atas layar */
    }
  }

  .animate-marquee {
    animation: vertical-move 5s linear infinite; /* Gunakan animasi vertikal */
    display: inline-flex; /* Untuk menengahkan secara horizontal */
    align-items: center; /* Untuk menengahkan secara vertikal */
  }

  @media (max-width: 640px) {
    .animate-marquee {
      animation: vertical-move 15s linear infinite; /* Animasi yang sama untuk mobile */
    }
  }

  .animate-horizontal-move {
    animation: horizontal-move 10s linear infinite;
  }
</style>

<HeaderClientScript client:load />
