---
import { Button } from "@/components/ui/button";
import { ModeToggle } from "@/components/custom/ModeToggle";
import AvatarComponent from "@/components/custom/AvatarComponent";
import { MenuItems, Astronav } from "astro-navbar";
import Dropdown from "@/components/dropdown.astro";
import LoginButtons from "@/components/custom/LoginButtons";
import HeaderClientScript from "@/components/custom/HeaderClientScript";
import HeaderMenu from "@/components/custom/HeaderMenu";
import MainNavigation from "@/components/custom/MainNavigation";

type MenuItem = {
  title: string;
  path?: string;
  items?: { title: string; path: string }[];
};

const menuitems: MenuItem[] = [
  { title: "Beranda", path: "/" },
  {
    title: "Properti",
    items: [
      { title: "Rumah", path: "/properti/rumah" },
      { title: "Apartemen", path: "/properti/apartemen" },
      { title: "Tanah", path: "/properti/tanah" },
      { title: "Calclutaor KPR", path: "/calculator" },
    ],
  },
  {
    title: "Abou Us",
    items: [
      { title: "Our Profile", path: "/about" },
      { title: "Layanan", path: "/layanan" },
      { title: "Privacy", path: "/privacy" },
    ],
  },
  { title: "Kontak", path: "/contact" },
];

import {
  NavigationMenu,
  NavigationMenuContent,
  NavigationMenuItem,
  NavigationMenuLink,
  NavigationMenuList,
  NavigationMenuTrigger,
  navigationMenuTriggerStyle,
} from "@/components/ui/navigation-menu";

import "rsuite/dist/rsuite-no-reset.min.css";
---

<header class="w-full bg-gray-100 shadow-md dark:bg-gray-900">
  <div class="px-4 mx-auto container-lg">
    <div class="flex items-center justify-between h-16">
      {/* Logo and Welcome Message */}
      <div class="flex items-center ml-10 space-x-4">
        <div class="flex-shrink-0">
          <a href="/">
            <img
              id="themeLogo"
              class="w-auto h-10"
              alt="Logo"
              src="/images/logo.svg"
            />
          </a>
        </div>
      </div>
      {/* Desktop Menu */}
      <div class="hidden lg:flex">
        <div class="justify-center flex-1 hidden ml-80 md:flex">
          <MainNavigation client:load menuitems={menuitems} />
        </div>
      </div>

      {/* Right side items */}
      <div class="items-center hidden mr-10 space-x-8 lg:flex">
        <!-- <AvatarComponent client:load /> -->
        <LoginButtons client:load />

        <div
          id="welcomeMessage"
          class="text-sm font-medium dark:text-gray-300 animate-pulse"
        >
        </div>
        <div class="items-end hidden space-x-8 md:flex">
          <ModeToggle client:load />
        </div>
      </div>
      {/* Mobile menu */}
      <HeaderMenu client:load menuitems={menuitems as any} />
    </div>
  </div>
</header>

{/* Running Text */}

<style is:global>
  @keyframes marquee {
    0% {
      transform: translateX(75%);
    }
    100% {
      transform: translateX(20%);
    }
  }

  @keyframes vertical-move {
    0% {
      transform: translateY(100%); /* Mulai dari bawah layar */
    }
    100% {
      transform: translateY(-100%); /* Berakhir di atas layar */
    }
  }

  .animate-marquee {
    animation: vertical-move 5s linear infinite; /* Gunakan animasi vertikal */
    display: inline-flex; /* Untuk menengahkan secara horizontal */
    align-items: center; /* Untuk menengahkan secara vertikal */
  }

  @media (max-width: 640px) {
    .animate-marquee {
      animation: vertical-move 15s linear infinite; /* Animasi yang sama untuk mobile */
    }
  }

  .animate-horizontal-move {
    animation: horizontal-move 10s linear infinite;
  }
</style>
